
@font-face {
    font-family: 'Poppins-Medium';
    src: url(Poppins-Medium.woff)
}
*{
    margin: 0;
    padding: 0
}
body {
    margin: 0;
    padding: 0;
    background: darkslateblue;
    font-family: 'Poppins-Medium';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 65vh;
    padding-bottom: 4rem;
}
:root{
    font-size: 9px
}
ul,li,ol{
    list-style: none;
}
.settings-container {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: fixed;
    background: darkslateblue;
    height: 100vh;
    display: none;
    padding-top: 220px;
    color: white;
    flex-flow: column;
    align-items: center;
    gap: 34px;
    opacity: .91;
    z-index: 1;
}
.settings-container li {
    background-color: white;
    padding: 10px 30px;
    border-radius: 15px;
    color: black;
    font-size: 40px;
    cursor: pointer;
}
.menu-setting > i {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 3rem;
    color: white;
    transition: .3s;
    z-index: 2;
    margin: 2.5rem 2.7rem;
}
.menu-setting > i.checked {
    transform: rotate(55deg);
    position: fixed;
}
.container-select-sorted {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0,0,0,.35);
    max-height: 100vh;
    z-index: 3;
}
.child-container-select-sorted{
    position: fixed;
    bottom: 0;
    background: white;
    transform: translateX(-50%);
    left: 50%;
    width: 98%;
    font-size: 2.7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 0;
    color: rgba(0,0,0,.86);
    border-radius: 1rem 1rem 0 0;
    z-index: 99;
}
.child-container-select-sorted > li{
    padding: 2rem 0;
    z-index: 999;
    width: 100%;
}
.child-container-select-sorted > li span{
    display: block;
    font-family: Arial;
    font-size: 1.2rem;
}
.child-container-select-sorted > li:active{
    background: rgba(0,0,0,.1);
}
h1 {
    color: white;
    font-size: 4.3rem;
    font-family: 'Poppins-Medium';
    margin: 4vh 0
}
.content {
    background: snow;
    padding: 9vh 0;
    display: flex;
    flex-direction: column;
    border-radius: 7px;
    gap: 6rem;
    max-width: 93%;
    width: 640px
}
input {
    text-align: center;
    font-size: 3.5rem;
    font-family: 'Poppins-Medium';
    border: 3px solid darkslateblue;
    width: 100px;
    height: 100px;
    border-radius: 7px;
    outline: none;
    color: darkslateblue;
    text-align: center;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.6rem;
    flex-wrap: wrap;
}
::placeholder {
    color: gray;
}
.content > p {
    font-size: 3rem;
    color: darkslateblue;
}
.container-label{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0,0,0,.28);
    display: none;
}
.container-label.active{
    display: block;
}
.box-input{
    position: absolute;
    background: darkslateblue;
    flex-direction: column;
    padding: 3rem;
    gap: 1rem;
    align-items: center;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 6px;
    display: none;
}
.box-input.active{
    display: flex;
}
.box-input input{
    font-size: 2.4rem;
    padding: .6rem 0;
    height: 70px;
    width: 405px;
    border-radius: 5px;
}
.box-input button{
    font-size: 2.3rem;
    font-family: 'Poppins-Medium';
    padding: .2rem 1rem;
    width: max-content;
    border-radius: 6px;
}
.display{
    background: white;
    padding: 1.6rem 2rem;
    font-size: 1.8rem;
    color: darkslateblue;
    border-radius: 6px;
    flex-direction: column;
    gap: 2rem;
    margin: 0 2rem;
    display: none;
}
.display.active{
    display: flex;
}
.display-item{
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 4px rgba(0,0,0,.2);
    padding: 2.9rem 6rem;
    box-sizing: border-box;
}
.name-item-display{
    font-weight: bold;
}
.delete-all-items{
    background: red;
    color: white;
    padding: 1rem;
    border-radius: 6px;
}
.arrow{
    font-size: 4rem;
    padding: 1rem;
    color: white;
    margin: 2.2rem auto;
}
.arrow.active{
    transform: rotate(180deg);
}
.last-edit{
    font-size: 1.5rem;
    margin: 2.3rem 0;
}
